@page "/LearnBlazor/BindProp"


<h3>Product</h3>
Name: @Product.Name <br />
Active: @Product.IsActive <br />
Price: @Product.Price<br />
This Product is :@(Product.IsActive?"Active":"InActive")<br /> <br />

Active: <input type="checkbox" @bind-value="Product.IsActive" checked="@(Product.IsActive?"checked":null) /> <br />
Price: <input type="number" @bind-value="@Product.Price" @bind-value:event="oninput" />

@code {
    Tangy_Models.LeanBlazorModels.Demo_Product Product = new()
        {
            Id = 1,
            Name = "Sagar Timalsena",
            IsActive = true,
            Price = 11.99,
            ProductProperties = new List<Tangy_Models.LeanBlazorModels.Demo_ProductProp>()
            {
                new Tangy_Models.LeanBlazorModels.Demo_ProductProp{Id=1,key="Color", Value="Black"},
                new Tangy_Models.LeanBlazorModels.Demo_ProductProp{Id=1,key="Color", Value="Black"},
                new Tangy_Models.LeanBlazorModels.Demo_ProductProp { Id = 1, key = "Color", Value = "Black" },
            }
        };

}
